{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">pdf library</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if header %}
    {{ header|markdown }}
    {% endif %}

    {% if books|length < 1 %}
    <p>nothing for now. its all nothing.</p>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Book</th>
                <th>Publisher</th>
                <th>Date published</th>
                <th>Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="/update/{{ book.id }}">{{ book.name }}</a></td>
                <td><a href="/update/{{ book.id }}">{{ book.author }}</a></td>
                <td><a href="/uploads/{{ book.filename }}">{{ book.filename }}</a></td>
                <td><a href="/update/{{ book.id }}">{{ book.publisher }}</a></td>
                <td><a href="/update/{{ book.id }}">{{ book.date }}</a></td>
                <td>{{ book.created_at.date() }}</td>
                <td class="text-right"><a class="btn btn-primary btn-sm" href="/update/{{ book.id }}" role="button">Edit</a></td>
                <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ book.id }}" role="button">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% include 'snippets/form.html' %}
    <p>
        {% with messages = extensions %}
        <div class=container style=width:80%>
            Accepted file types:
            <table style="width:80%">
                <tr>
                    {% for message in messages %}
                    <td style="text-align: center;border: 1px solid #E1E1E1;">{{ message }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        {% endwith %}
        <p>
            {% if footer %}
            {{ footer|markdown }}
            {% endif %}
</div>
{% endblock content %}
