
<div class=container style=width:60%>
  <br />
  <form action="{{ endpoint }}" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col-sm-10 my-1">
          <label for="newStuff" class="sr-only">New Stuff:</label>
          <input type="text" class="form-control" name="name" id="newStuff" placeholder="Enter book name" value="{% if book %}{{ book.name }}{% endif %}">
          <input type="text" class="form-control" name="author" id="newStuff" placeholder="Enter author name" value="{% if book %}{{ book.author }}{% endif %}">
          <form enctype="multipart/form-data" name="file">
            <input type="file" class="form-control" name="file" id="newStuff">
        </form>
        <input type="text" class="form-control" name="publisher" id="newStuff" placeholder="Enter publisher name" value="{% if book %}{{ book.publisher }}{% endif %}">
        <input type="text" class="form-control" name="date" id="newStuff" placeholder="Enter publication year" value="{% if book %}{{ book.date }}{% endif %}">
      </div>
      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">{{ action }}</button>
      </div>
    </div>
</div>
</form>
